/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= stub active_admin

*= require_self
*/

@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

$button-padding: .25em;

@import "../custom/material_custom";
@import "../custom/materialize_custom";

////->Prelang (ui_framework:twitter_bootstrap)
//
//// Give everything in 'yield' margin to separate it.
//.yield {
//  margin: 30px;
//}
//
//// Constrain forms for models (scaffolded models) so they aren't full page width.
//.form-model {
//  max-width: 750px;
//}
//
////->Prelang (user_login:devise)
//.form-user {
//  max-width: 450px;
//}
.parallax-container {
  width: 110%;
  overflow: visible;
  min-height: 500px;
  line-height: 0;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 110%;
}

.citylights {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font: 80px 'MisoRegular';
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0%;
  }
}